<!DOCTYPE html>
<html ng-app="gps-tracking">
<head>
  <title>GPS Tracking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- main script -->
  <script src="index.min.js"></script>

  <!-- stylesheets -->
  <style type="text/css">
  html, body, [class*="angular-google-map"] {
    width : 100% ; 
    height : 100% ;
    margin : 0;
    padding: 0;
  }
  </style>
</head>
<body ng-controller="MapController">
  <google-map center="map.center" zoom="map.zoom" draggable="true" events="events">
    <polyline ng-repeat="user in users" path="user.path" stroke="user.stroke"></polyline>
    <marker ng-repeat="user in users" coords="user.path[user.path.length - 1]"></marker>
  </google-map>
</body>
</html>
